html {
    font-size: 16px;
}

body {
  font-size: 16px;
  color: #505050;
  background-color: #F5F5F5;
  font-family: "Helvetica", sans-serif;
}

/* Flex container */
.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Header */
header {
  align-items: center;
  background-color: #F5F5F5;
  height: 64px;

}

/* Logo - image and words */
.logo {
  display: flex;
  align-items: center;
}

/* Logo image */
.logo.design {
  padding-left: 24px;
}

.logo.design img {
  height: 64px;
}

/* Navigation list */
nav {
  text-align: right;
  flex-grow: 1;
}

ul li {
  display: inline-block;
  padding: 24px 16px;
}

.mobile-nav {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .logo {
    display: none;
  }
  nav ul {
    display: none;
  }

  .mobile-nav {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }

  nav {
    flex-grow: 0;
  }

  .mobile-nav div {
    text-align: center;
  }
}

/* logo text at the top*/
.colmaracademy {
  font-size: 2em;
}

.colmaracademy p {
  font-weight: bold;
}

.colmaracademy span {
  color: darkgray;
  font-weight: normal;
}

/* Navigation list */
li {
  list-style-type: none;
}

/* First panel */
.content.top {
  background-color: #D8D8D8;
  padding: 32px 24px;
}

@media only screen and (max-width: 1024px) {
  .content.top {
    padding: 0;
  }
}

.content.three {
  background-color: #D8D8D8;
  padding: 32px 24px;
}

.content.two {
  padding: 32px 24px;
}

/* Image from first panel */
.picture.banner {
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    width: 50%;
    margin: 32px 24px;
}

@media only screen and (max-width: 1024px) {
  .picture.banner {
    width: 100%;
    margin: 0;
  }

  .learn-mobile {
    display: block !important;
    padding: 32px 16px;
  }

  .learn {
    display: none;
  }

  .learn-mobile .title {
    margin: 32px 16px;
  }

  .learn-mobile .title p {
    margin-bottom: 24px;
  }
}

/* Learn something new every day */
.learn {
  position: absolute;
  top: 8rem;
  right: 0;
  padding: 2em 3em;
  width: 35%;
}

.learn-mobile {
  display: none;
}

.title {
  font-size: 2em;
  font-weight: bold;
}

.titletwo {
  font-size: 2em;
  margin-left: 20px;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 55%;
}

.starthere {
  background-color: #505050;
  color: white;
  width: 30em;
  margin: 0 auto;
  padding: 0.1em 2em;
}

.starthere p {
  margin-top: 0.9em;
  text-align: center;
  font-size: 2em;
}

/* Image from second panel */
.picture.two {
    background-image: url('../images/information-main.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 50%;;
    margin: 32px 24px;
}

/* Read more */
.small-info a {
  text-decoration: none;
  color: #3399FF;
}

.small-info.image img {
  padding: 16px;
  width: 200px;
}

/* The box with all the little boxes inside */
.info.small.two {
  width: 40%;
  right: 0;
  position: absolute;
  padding: 16px 16px;
}

/* Flexbox for the little boxes */
.small-info.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-info.box:hover {
  background-color: #D8D8D8;
}

.small-info.content {
  font-size: 1.5em;
}

.space {
  background-color: #D8D8D8;
}

/* Hiding the boxes for mobile when it's not in mobile view */
.info-small-two-mobile {
  display: none;
}

@media only screen and (max-width: 1024px) {
  /* The boxes that are viewed in desktop mode are gone */
  .info.small.two {
    display: none;
  }

  .info.large.two {
    display: none;
  }

  .info-small-two-mobile {
    display: block !important;
    padding: 16px;
    background-color: #F5F5F5;
  }

  .small-info-content-mobile {
    margin: 16px;
  }

  .small-info-image-mobile {
    margin-top: 64px;
  }

  /* Read more */
  .small-info-content-mobile a {
    text-decoration: none;
    color: #3399FF;
  }
}

/* Start learning courses */
.content.three h1 {
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .course {
    display: none;
  }

  .content.three {
    background-color: white;
  }


}

.courses-one {
  display: flex;
  justify-content: space-between;
  margin: 0 72px;
}

.courses-two {
  display: flex;
  justify-content: space-between;
  margin: 0 72px;
}

.course.details {
  margin: 32px 32px;
  height: 90%;
  width: 82.5%;
  background-color: white;
  font-size: 18px;
}

.course.details img {
  width: 100%;
}

.course.details h2 {
  padding: 8px 16px;
  margin: 8px 16px;
}

.course.details p {
  padding: 0 16px;
  margin: 8px 16px;
}

.course-details-mobile {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .course-details-mobile {
    display: block !important;
    background-color: white;
  }

  .course-details-mobile h2 {
    background-color: #D8D8D8;
    padding-top: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

/* Thesis Exhibit */
.thesis h2 {
  text-align: center;
  margin: 32px 32px;
}

@media only screen and (max-width: 1024px) {
  video {
    width: 100% !important;
    margin: 0 !important;
  }
}
video {
  width: 50%;
  margin: 32px 24px;
}

/* The box with all the little boxes inside */
.info.small.four {
  width: 40%;
  right: 0;
  position: absolute;
  padding: 16px 16px;
}


.titlethree {
  font-size: 2em;
  margin-left: 20px;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 55%;
}

@media only screen and (max-width: 1024px) {
  .titlethree {
    display: none;
  }

  .small-info  {
    display: none;
  }

  .right {
    display: none;
  }
}

.footer {
  margin: 16px 24px;
  clear: both;
}

.left {
  float: left;
}

 .right {
  float: right;
}
